*{

    box-sizing: border-box;
    text-align: center;
    
}

.header{
    background-color: chartreuse;
    width: 100%;
    float: left;
    height: 60px;
}
.footer{


background-color: burlywood;
width: 100%;
float: left;
height: 40px;

}
.menu{

    background-color: blueviolet;
    width: 25%;
    float: left;
}
.dashbord{

    background-color: blue;
    width: 50%;
    float: left;
}
.rss{

    background-color: brown;
    width: 25%;
    float: left;
}
.Main{

    background-color: aqua;
    width: 100%;
    float: left;
    height: 300px;
    
}
.headerContactos{

color: whitesmoke;
background-color: black;
margin-left: 40%;
margin-right: 40%;


}
.contactosfooter{


    background-color: burlywood;
    width: 100%;
    float: left;
    height: 40px;
    
}
    
    
.contactosbody{

        height: 610px;
        color: grey;

}