*{
    box-sizing: border-box;
    text-align: center;
}

.header{
    background-color: rgb(10, 10, 10);
    text-align: left;
    color: #fff;
    width: 100%;
    float: left;
    height: 60px;
}
.footer{
    background-color: rgb(10, 10, 10);
    color: #fff;
    width: 100%;
    float: left;
    height: 40px;
}
.menu{
    background-color: blueviolet;
    width: 100%;
    float: top;
}
.dashbord{
    background-color: blue;
    width: 100%;
    float: top;
}
.rss{
    background-color: brown;
    width: 100%;
    float: top;
}
.main{
    width: 100%;
    float: left;
    height: 538px;
}